@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");

:root {
  --font-color: rgba(51, 51, 51, 0.514);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #82c6e3;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

h1 {
  color: var(--font-color);
}

/* PANEL */
.panel {
  width: 17%;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1em;
  padding: 1em;
  border-radius: 3em;
  background: linear-gradient(145deg, #8bd4f3, #75b2cc);
  box-shadow:  30px 30px 40px #689eb6, -30px -30px 40px #9ceeff;
}

.panel p{
  width: 100%;
  color: var(--font-color);
  text-shadow: 0 0px 1px var(--font-color) ;
}

.panel p:first-child {
  border-right: 1px solid rgb(78, 173, 197);
  padding-right: 1em;
}

.panel > p.active {
  color: lavender;
  font-weight: bold;
}

/* TIMER */

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(145deg, #8bd4f3, #75b2cc);
  box-shadow: 30px 30px 40px #689eb6, -30px -30px 40px #9ceeff;
  position: relative;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 270px;
  background-color: rgb(83, 181, 206);
  border-radius: 50%;
  position: relative;
}

.circle::before {
  content: "";
  background-color: #82c6e3;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  position: absolute;
}

.time {
  display: flex;
  gap: 0.2em;
  position: relative;
  font-size: 3em;
  color: var(--font-color);
  font-weight: bold;
}

/* BUTTONS */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 1em;
  border-radius: 3em;
  box-shadow: 30px 30px 40px #689eb6, -30px -30px 40px #9ceeff;
}

.button img{
  width: 25px;
  height: 25px;
  border-right: 1px solid rgb(78, 173, 197);
  padding-right: .5em;
}

#reset-icon {
  border-right: none;
}

@media only screen and (min-width:360px){
  .panel {
    width: max-content;
  }
}
